@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Inter:wght@700&family=Open+Sans:ital,wght@0,700;1,400&family=Raleway:wght@500&family=Roboto+Condensed:ital,wght@1,300;1,400;1,700&family=Sassy+Frass&display=swap');

.nav{
	height: 24px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	display: flex;
	align-items: flex-start;
	margin: 20px 10%;
	cursor: pointer;
}

.title{
	width: 212px;
	height: 80px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: 80px;
	display: flex;
	align-items: center;
	margin: 20px 10%;
}

.form{
	width: 35%;
	margin: auto;
	font-size: 18px;
	display: flex;
	flex-direction: column;
	border: 1px solid gray;
	text-align: start;
}

input{
	height: 30px;
	outline: none;
	border-radius: 2px;
	border: none;
	width: 90%;
	margin: 15px auto;
}

.button{
	background: #2231AA;
	border-radius: 2px;
	width: 90%;
	height: 40px;
	margin: 15px auto;
	color: azure;
	font-size: 18px;
	align-items: center;
	justify-content: center;
}

label{
	margin: 15px 15px 0 15px ;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}

h6{
	height: 20px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	margin: 10px auto;
}

span{
	color: #2231AA;
	cursor: pointer;
}

hr{
	margin-top: 30px;
}

@media (max-width: 950px) {
.form{
	width: 45%;
}
}

@media (max-width: 650px) {
	.form {
		width: 65%;
	}
}
@media (max-width: 500px) {
	.form {
		width: 80%;
	}
	hr{
		width: 80%;
	}
}