@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&family=Inter:wght@700&family=Open+Sans:ital,wght@0,700;1,400&family=Raleway:wght@500&family=Roboto+Condensed:ital,wght@1,300;1,400;1,700&family=Sassy+Frass&display=swap');

.addpost {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin: 0 auto;
}

.titlepost{
	width: 388px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: 70px;
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 20px;
	margin-left: 9%;
}

.buttons{
	display: flex;
	padding: 20px;
	margin-left: 9%;
}

label{
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
}

.button {
	width: 45px;
	height: 24px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	cursor: pointer;
}

.button.active {
	width: 80px;
	height: 24px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #8D8E97;
}

.formpost{
	display: flex;
	width: 80%;
	flex-direction: column;
	text-align: start;
	margin: 0 auto;
	box-sizing: border-box;
}

.inputtitle{
	width: 98%;
	height: 56px;
	padding: 10px;
}

.grup{
	display: flex;
	justify-content: space-between;
}

.grup-text {
	display: flex;
}

.inputtext {
	height: 200px;
	padding: 10px;
}

.lesson {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	width: 45%;
}

.text{
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	width: 65%;
}

.img-gr{
	display: flex;
	flex-direction: column;
	width: 35%;
}

.inputlesson{
	height: 56px;
	padding: 10px;
}

.buttonimage{
	width: 300px;
	height: 200px;
	background: white;
	border-radius: 5px;
	justify-content: space-between;
	align-items: center;
}

.image-item__btn-wrapper{
	display: flex;
}

.upload-btn{
	margin: 10px;
	width: 120px;
	align-items: center;
	text-align: center;
	justify-content: center;
	cursor: pointer;
	border-radius: 5px;
	box-sizing: border-box;
	background:#efeeee;
	padding: 10px 6px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
}

.img{
	justify-content: flex-start;
}

.image-item{
	display: flex;
	flex-direction: column;
}

.input-upl{
	display: flex;
	justify-content: center;
	text-align: center;
	width: 130px;
	align-items: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
}

.grup-img{
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.input-upl{
	margin: 20px 0;
}

.footer-form{
	margin: 15px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

.delete-btn {
	color: red;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
}

.btn-add {
	display: flex;
	margin: 15px;
}

.create-btn {
	margin: 15px 0;
	width: 143px;
	height: 56px;
	padding: 10px;
	background: #2231AA;
	justify-content: center;
	align-items: center;
	border-radius: 2px;
	color: white;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
}

.cancel-btn{
	margin: 15px ;
	color: rgb(10, 10, 10);
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	justify-content: center;
	width: 143px;
	height: 56px;
	padding: 10px;
	align-items: center;
	background: #E8E8E8;
	border-radius: 2px;
}

hr{
	width: 80%;
	height: 1px;
	background: #DADADA;
	transform: matrix(1, 0, 0, -1, 0, 0);
}

.footer-label{
	display: flex;
	justify-content: space-between;
	color: #8D8E97;
	padding: 20px;
	width: 80%;
	margin: 0 auto;
}

@media (max-width: 800px) {
.grup {
		flex-direction: column;
	}

	.lesson {
		width: 100%;
	}

	.grup-text {
		flex-direction: column;
	}

	.text {
		width: 100%;
	}

	.img-gr {
		width: 100%;
	}
}

@media (max-width: 520px) {
.footer-label {
	flex-direction: column;
	padding: 0px;
}

.footer-form {
	flex-direction: column;
}

.delete-btn {
	width: 100%;
}
	
.btn-add {
	flex-direction: column;
	width: 100%;
}
	
.create-btn {
	width: 100%;
}
	
.cancel-btn {
	width: 100%;
	margin: 0;
	padding: 0;
}
}